@page "/usuarios"
@inject NavigationManager Nav
@inject UsuarioListarViewModel VM

<GlobalCenterContainer>
    <Content>
        <h3 class="text-center"><span class="me-3">Usuarios</span><PrimaryButton Text="Nuevo" OnClick="@(() => Nav.NavigateTo("/usuarios/crear"))"></PrimaryButton></h3>
        @if (VM._listaUsuarios.Count > 0)
        {
            <MatTable Items="VM._listaUsuarios">
                <MatTableHeader>
                    <td>Nombre</td>
                    <td>Correo</td>
                    <td>Rol</td>
                    <td>Fecha de nacimiento</td>
                    <td></td>
                </MatTableHeader>

                <MatTableRow>
                    <td>@context.Nombre</td>
                    <td>@context.Correo</td>
                    <td>
                        @switch (context.Rol)
                        {
                            case "1":
                                @:Admin
                                break;
                            case "2":
                                @:Vendedor
                                break;
                            case "3":
                                @:Cliente
                                break;
                            case "4":
                            @:Proveedor
                                break;
                            default:
                                @:---
                                break;
                        }
                    </td>
                    <td>@context.FechaNacimiento</td>
                    <td>
                        <PrimaryButton Text="Ver" OnClick="@(() => Nav.NavigateTo("/usuarios/mostrar/" + context.Id))"></PrimaryButton>
                        <PrimaryButton Text="Eliminar" OnClick="@(async () => await usuarioEliminar(context.Id))"></PrimaryButton>
                    </td>
                </MatTableRow>
            </MatTable>
        }
        else
        {
            <div class="alert alert-warning">No hay usuarios para listar</div>
        }
    </Content>
</GlobalCenterContainer>

@code {
    protected override async Task OnInitializedAsync()
    {
        await VM.Listar();
    }

    public async Task usuarioEliminar(int id)
    {
        await VM.Eliminar(id);
        await VM.Listar();
        StateHasChanged();
        
    }
}