@page "/usuarios"
@inject NavigationManager Nav
@inject UsuarioViewModel VM

<GlobalCenterContainer>
    <Content>
        <h3 class="text-center"><span class="me-3">Usuarios</span><PrimaryButton Text="Nuevo" OnClick="@(() => Nav.NavigateTo("/usuarios/crear"))"></PrimaryButton></h3>
        @if (VM._listaUsuarios.Count > 0)
        {
            <MatTable Items="VM._listaUsuarios">
                <MatTableHeader>
                    <td>Nombre</td>
                    <td>Correo</td>
                    <td>Fecha de nacimiento</td>
                </MatTableHeader>

                <MatTableRow>
                    <td>@context.Nombre</td>
                    <td>@context.Correo</td>
                    <td>@context.FechaNacimiento</td>
                    <td><PrimaryButton Text="Editar" OnClick="@(() => Nav.NavigateTo("/usuarios/"+context.Id))"></PrimaryButton></td>
                </MatTableRow>
            </MatTable>
        }
        else
        {
            <div class="alert alert-warning">No hay usuarios para listar</div>
        }
    </Content>
</GlobalCenterContainer>

@code {
    protected override async Task OnInitializedAsync()
    {
        await VM.Listar();
    }
}