@page "/ventas/mostrar"
@page "/ventas/mostrar/{ventaId:int}"
@inject VentaDetalleVentaListarViewModel VM
@inject NavigationManager Nav

<GlobalCenterContainer>
    <Content>
        <div class="row">
            <div class="col-8">
                @if (VM.VentaEncontrada)
                {
                    <div class="row">
                        <GlobalCard>
                            <Content>
                                <div class="col-12 d-flex justify-content-center align-items-lg-center fs-1 flex-column">
                                    <div class="alert alert-warning">No se ha encontrado la venta.</div>
                                </div>
                            </Content>
                        </GlobalCard>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-12">
                            <EditForm Model="@VM">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="alert alert-info text-center">Información de venta</h3>
                                    </div>
                                    <div class="col-4">
                                        
                                        @if (VM.ListaCliente?.Any() == true)
                                        {
                                            <MatSelect FullWidth="true" Label="Selecciona un cliente" Outlined="true" TValue="int" @bind-Value="VM.Venta.IdUsuarioCliente">
                                                <MatOption TValue="int" Value="-1"></MatOption>
                                                @foreach (var opt in VM.ListaCliente)
                                                {
                                                    <MatOption TValue="int" Value="opt.Id">@opt.Nombre</MatOption>
                                                }
                                            </MatSelect>
                                        }
                                    </div>
                                    <div class="col-4">
                                        @if (VM.ListaProveedor?.Any() == true)
                                        {
                                            <MatSelect FullWidth="true" Label="Selecciona un proveedor" Outlined="true" TValue="int" @bind-Value="VM.Venta.IdUsuarioProveedor">
                                                <MatOption TValue="int" Value="-1"></MatOption>
                                                @foreach (var opt in VM.ListaProveedor)
                                                {
                                                    <MatOption TValue="int" Value="opt.Id">@opt.Nombre</MatOption>
                                                }
                                            </MatSelect>
                                        }
                                    </div>
                                    <div class="col-4">
                                        <MatDatePicker Label="Outlined" Outlined="true" TValue="DateTime" @bind-Value="VM.Venta.Fecha"></MatDatePicker>
                                    </div>
                                </div>
                            </EditForm>
                            <hr />
                            <div class="row mt-3">
                                <div class="col-12">
                                    <h4 class="alert alert-success text-center">Detalle de venta</h4>
                                </div>
                                <div class="col-12">
                                    @foreach (var detalle in VM.ListaDetalleVenta)
                                    {
                                        <div class="row mb-3">
                                            <div class="col-3">
                                                <MatSelect FullWidth="true" Label="Selecciona un producto" Outlined="true" TValue="int" @bind-Value="detalle.IdProducto">
                                                    <MatOption TValue="int" Value="-1"></MatOption>
                                                    @foreach (var opt in VM.ListaProducto)
                                                    {
                                                        <MatOption TValue="int" Value="opt.Id">@opt.Nombre</MatOption>
                                                    }
                                                </MatSelect>
                                            </div>
                                            <div class="col-3">
                                                <MatNumericUpDownField FullWidth="true" Label="Precio" DecimalPlaces=0 @bind-Value="detalle.Precio"></MatNumericUpDownField>
                                            </div>
                                            <div class="col-3">
                                                <MatNumericUpDownField FullWidth="true" Label="Cantidad" @bind-Value="detalle.Cantidad"></MatNumericUpDownField>
                                            </div>
                                            <div class="col-3 d-flex justify-content-around align-items-center">
                                                <PrimaryButton Text="Actualizar" OnClick="@(() => VM.ActualizarDetalleVenta(detalle))"></PrimaryButton>
                                                <PrimaryButton Text="Eliminar" OnClick="@(() => VM.EliminarDetalleVenta(detalle))"></PrimaryButton>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <PrimaryButton Text="Finalizar venta"></PrimaryButton>
                        </div>
                    </div>
                }
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="alert alert-info text-center">Agregar productos</h3>
                        <EditForm Model="@VM">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <MatSelect FullWidth="true" Label="Selecciona un producto" Outlined="true" TValue="int" @bind-Value="VM.DetalleVenta.IdProducto">
                                        <MatOption TValue="int" Value="-1"></MatOption>
                                        @foreach (var opt in VM.ListaProducto)
                                        {
                                            <MatOption TValue="int" Value="opt.Id">@opt.Nombre</MatOption>
                                        }
                                    </MatSelect>
                                </div>

                                <div class="col-12 mb-3">
                                    <MatNumericUpDownField FullWidth="true" Label="Precio" DecimalPlaces=0 @bind-Value="VM.DetalleVenta.Precio"></MatNumericUpDownField>
                                </div>

                                <div class="col-12 mb-3">
                                    <MatNumericUpDownField FullWidth="true" Label="Cantidad" @bind-Value="VM.DetalleVenta.Cantidad"></MatNumericUpDownField>
                                </div>

                                <div class="col-12">
                                    <MatButton Unelevated="true" OnClick="@(() => VM.AgregarDetalle(ventaId))">Agregar</MatButton>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </Content>
</GlobalCenterContainer>

@code {
    [Parameter]
    public int? ventaId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await VM.LimpiarDatos();
        await VM.CargarUsuarios();
        await VM.CargarVenta(ventaId.Value);
        Console.WriteLine("Ventas/Mostrar |" + VM.Venta.IdUsuarioProveedor);
    }

    private async Task NuevaVenta()
    {
        VM.VentaEncontrada = false;
        await VM.LimpiarDatos();
    }
}